body {
    display: flex;
   justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    width: 50%;
    object-fit: contain;
    justify-self: center;
}


p {
    width: 100%;
    text-align: center;
}

button {
    text-align: center;
    
}

.hidden{
    display: none;
}

