html {
     border: 20px solid hsl(223, 24%, 50%);
}


body {
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
}
.chosen-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    width: 50%;
    object-fit: contain;
    justify-self: center;
    height: 450px;
}


p {
    width: 100%;
    text-align: center;
}

button {
    text-align: center;
    
    
}

.hidden{
    display: none;
}

