html {
     border: 20px solid hsl(223, 24%, 50%);
}


body {
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
}
.chosen-cat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    width: 50%;
    object-fit: contain;
    justify-self: center;
   /* height: 650px; */
}


p {
    width: 100%;
    text-align: center;
}

button {
    text-align: center;
    background-color: #e6ccff;   
    border-radius: 12px;
    border: 1px solid #e6ccff;
}

button:hover {
    background-color: #e6ccff;
}

.hidden{
    display: none;
}

@media screen and (min-width: 768px) {
    img {
        height: 450px;
    }
}
